*

!.gitignore
!README.md

!sway/
!sway/**

!ghostty/
!ghostty/**

!swaync/
!swaync/**

!bin/
!bin/**

!ronema/
!ronema/**
ronema/icons
ronema/icons/**

!rofi-bluetooth/
!rofi-bluetooth/**

!rofi/
!rofi/**

!waybar/
!waybar/**

!nvim/
!nvim/**

!starship.toml

!swappy/
!swappy/**
